:host {
  --journey-map-marker-size: 60px;
  --journey-map-marker-indicator-size: 10px;
}

.container {
  width: 100%;
  height: 50vh;
}

details.maplibregl-ctrl {
  display: none !important;
}

.thumbnail {
  position: relative;
  border-radius: 15%;
  border: 2px solid white;
  width: var(--journey-map-marker-size);
  height: var(--journey-map-marker-size);

  img {
    border-radius: 15%;
  }

  &::after {
    content: "";
    display: absolute;
    width: 0;
    height: 0;
    border-left: var(--journey-map-marker-indicator-size) solid transparent;
    border-right: var(--journey-map-marker-indicator-size) solid transparent;
    border-top: var(--journey-map-marker-indicator-size) solid white;
    margin: 0 auto;
    position: absolute;
    bottom: calc(var(--journey-map-marker-indicator-size) * -1);
    left: calc(50% - var(--journey-map-marker-indicator-size));
  }
}
