:host {
  display: block;
  --journey-map-marker-size: 75px;
  --journey-map-marker-indicator-size: 10px;
}

.container {
  position: relative;

  .map {
    width: 100%;
    height: 50vh;

    details.maplibregl-ctrl {
      display: none !important;
    }
  }

  .content {
    position: absolute;
    display: block;
    top: var(--spacing-4);
    left: var(--spacing-4);
    right: var(--spacing-4);
    bottom: var(--spacing-4);
    pointer-events: none;

    ::slotted(journey-photo-gallery) {
      pointer-events: all;
      max-height: 100%;
    }
  }
}

.photo-marker {
  position: relative;
  border-radius: var(--border-radius-1);
  border: 2px solid white;
  width: var(--journey-map-marker-size);
  height: var(--journey-map-marker-size);
  cursor: pointer;
  pointer-events: none;

  &.visible {
    pointer-events: auto;
  }

  .count-indicator {
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 5px;
    color: white;
  }

  img {
    border-radius: var(--border-radius-1);
  }

  &::after {
    content: "";
    display: absolute;
    width: 0;
    height: 0;
    border-left: var(--journey-map-marker-indicator-size) solid transparent;
    border-right: var(--journey-map-marker-indicator-size) solid transparent;
    border-top: var(--journey-map-marker-indicator-size) solid white;
    margin: 0 auto;
    position: absolute;
    bottom: calc(var(--journey-map-marker-indicator-size) * -1);
    left: calc(50% - var(--journey-map-marker-indicator-size));
  }
}
