:host {
  display: inline-flex;
}

:host([closed]) {
  display: none;
}

.photo-gallery {
  flex: 1 1 auto;
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
  padding-top: var(--spacing-2);
  scrollbar-gutter: stable both-edges;
  box-sizing: border-box;

  display: grid;
  grid-gap: var(--spacing-2);
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}
