:host {
  display: inline-flex;
}

:host([closed]) {
  display: none;
}

.photo-gallery {
  padding: var(--spacing-2);
  max-height: 100%;
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.1); /* or use a dark color for dark mode */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: var(--border-radius-1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  journey-close-button {
    width: fit-content;
  }

  .grid {
    flex: 1 1 auto;
    min-height: 0;
    max-height: 100%;
    overflow-y: auto;
    padding-top: var(--spacing-2);
    scrollbar-gutter: stable both-edges;
    box-sizing: border-box;

    display: grid;
    grid-gap: var(--spacing-2);
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
