:host {
  display: inline-flex;
}

:host([closed]) {
  display: none;
}

.panel {
  padding: var(--spacing-2);
  max-height: 100%;
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.1); /* or use a dark color for dark mode */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: var(--border-radius-1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  journey-close-button {
    width: fit-content;
  }
}
